/myvenv
/config/settings.py
/.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
myvenv/
.DS_Store
.idea/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
myvenv/
.DS_Store
.idea/
.vscode/
