# Django Core
Django
gunicorn

# Database
mysqlclient

# DRF (Django REST Framework)
djangorestframework
djangorestframework-simplejwt
drf-yasg

# Auth
dj-rest-auth[with_social] # [with_social]을 붙이면 django-allauth가 함께 설치됩니다.

# Celery (비동기 작업)
celery
django-celery-results
# RabbitMQ를 사용하므로 redis 의존성은 필요 없습니다.

# AWS S3 Storage
django-storages
boto3

# Others
django-cors-headers
python-dotenv
python-decouple
pillow
olefile

# Firebase 
firebase-admin